h1{color: rgb(175, 128, 219);}
h1{font-size: 150%;}
h2{text-align: center;}
h2{border: solid 3px;}
#imal{margin-left 30%;}
#imail2{width: 40%;}
<i>{font-size: 50%;}
<i>{text-align: center 50%;}
#imal2{margin-left: 50%;}
i{color: rgb(230, 90, 148);}
h4{border: solid 3px;}
i{border: solid 3px;}
h3{border: solid 3px;}
#imal2{margin-left: center;}